- extends "base_site.haml"
- load i18n
- block title
  - trans "Сегодня"
- block body_class
  today
- block main
  - if object_list
    %table{"cellspacing": "0"}
      %tr.odd
        %th
          - trans "Время"
        %th
          - trans "Группа"
        %th
          - trans "Предмет"
        %th
      - for obj in object_list
        %tr{"class": "{% cycle 'even' 'odd' %}"}
          %td= obj.start_datetime|date:"TIME_FORMAT"
          %td= obj.subject.group
          %td= obj.subject.name
          %td
            %a{"href": "{{ obj.get_absolute_url }}"}
              - trans "Отметить"
  - else
    %h1
      - trans "У вас сегодня нету пар :)"
