- extends "base_site.haml"
- block body_class
  cal
- block main
  %h1
    Календарь
  %table{"cellspacing": "0"}
    %tr
      %th{"colspan": "3"} Неделя 1
      %th{"colspan": "3"} Неделя 2
    %tr
      %th Время
      %th Группа
      %th Предмет
      %th Время
      %th Группа
      %th Предмет
    %tr
      %th{"colspan": "6"} Понедельник
    %tr.even
      %td 10:25
      %td ИА-62
      %td ТАУ (лекц.)
      %td 10:25
      %td ИА-62
      %td ТАУ (лекц.)
    %tr.odd
      %td 12:20
      %td ИА-62
      %td ТАУ (лекц.)
      %td 12:20
      %td ИА-62
      %td ТАУ (лекц.)
    %tr.even
      %td 14:15
      %td ИА-62
      %td ТАУ (лекц.)
      %td 14:15
      %td ИА-62
      %td ТАУ (лекц.)
    %tr
      %th{"colspan": "6"} Вторник
    %tr.even
      %td 10:25
      %td ИА-62
      %td ТАУ (лекц.)
      %td 10:25
      %td ИА-62
      %td ТАУ (лекц.)
    %tr.odd
      %td 12:20
      %td ИА-62
      %td ТАУ (лекц.)
      %td 12:20
      %td ИА-62
      %td ТАУ (лекц.)
    %tr.even
      %td 14:15
      %td ИА-62
      %td ТАУ (лекц.)
      %td 14:15
      %td ИА-62
      %td ТАУ (лекц.)
    %tr
      %th{"colspan": "6"} Среда
    %tr.even
      %td 10:25
      %td ИА-62
      %td ТАУ (лекц.)
      %td 10:25
      %td ИА-62
      %td ТАУ (лекц.)
    %tr.odd
      %td 12:20
      %td ИА-62
      %td ТАУ (лекц.)
      %td 12:20
      %td ИА-62
      %td ТАУ (лекц.)
    %tr.even
      %td 14:15
      %td ИА-62
      %td ТАУ (лекц.)
      %td 14:15
      %td ИА-62
      %td ТАУ (лекц.)
